/* ==========================================================================*/
/* Bar */
/* ==========================================================================*/
* {
  border: none;
  font-size: 1rem;
  font-family: serif;
}

window#waybar {
  background: @blacks-0;
}

tooltip {
  background: @blacks-0;
  border: 0.1em solid @flamingo;
  font-family: monospace;
}

tooltip label {
  color: @white;
}

/* ==========================================================================*/
/* Modules-Left */
/* ==========================================================================*/

/* Workspaces */
#workspaces button {
  background: none;
  box-shadow: none;
  color: @grays-0;
  margin: 0em -1em;
  text-shadow: none;
  transition-duration: 0;
}

#workspaces button:first-child {
  margin-left: -0.5em;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.focused {
  color: @blue;
}

/* ==========================================================================*/
/* Modules-Center */
/* ==========================================================================*/

/* Window */
#window {
  color: @white;
}

/* ==========================================================================*/
/* Modules-Right */
/* ==========================================================================*/

#pulseaudio,
#battery,
#network,
#clock {
  margin: 0;
}

/* PulseAudio */
#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

/* Battery */
#battery {
  color: @green;
}

#battery.okay {
  color: @yellow;
}

#batter.poor {
  color: @pink;
}

#battery.critical {
  color: @red;
}

/* Network */
#network {
  color: @mauve;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @grays-0;
}

/* Clock */
#clock {
  color: @white;
}
